.res-last-mile::before {
    content: ",";
    margin-right: 4px;
}

.res-ratings-wrapper {
    border: 1px solid #e9e9eb;
    box-shadow: 0 1px 5px #f9f9f9;
    border-radius: 6px;
    text-align: center;
    padding: 8px;
    max-width: 100px;
    float: right;
    background: transparent;
}

.res-avg-rating {
    color: #3d9b6d;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9eb;
    font-weight: 700;
    margin-bottom: 8px;
    display: block;
}

.icon-star {
    margin-right: 2px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.res-total-ratings {
    font-size: 11px;
    color: #8b8d97;
    font-family:
        ProximaNovaCondensedRegular,
        arial,
        Helvetica Neue,
        sans-serif;
    font-weight: 600;
}

.res-header-seperator {
    border: none;
    border-bottom: 1px dashed #d3d3d3;
}

.styles-divider {
    border-bottom: 0.5px solid #d3d3d3;
    height: 0.5px;
    margin: 24px auto 24px 0;
    width: calc(100% - 32px);
}

.res-header-margin-bottom {
    margin-bottom: 18px;
}

.res-time-cost-wrapper {
    color: #3e4152;
    font-size: 15px;
    font-weight: 700;
}

.res-time-cost-item {
    margin-right: 24px;
    display: inline-block;
}

.res-time-cost-icon {
    vertical-align: bottom;
    margin-right: 10px;
}

.grid-slider {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;

    /* WebKit browsers (Chrome, Safari) */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */

    &::-webkit-scrollbar {
        width: 0;
    }
}

.grid-row {
    display: flex;
}

.offer-slide {
    margin-right: 12px;
    scroll-snap-align: center;
    flex-shrink: 0;
}

.res-offer-wrapper {
    display: flex;
    border: 1px solid #e9e9eb;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    padding: 8px;
    height: 100%;
    min-width: 200px;
    align-items: center;
}

.res-offer-container {
    display: flex;
}

.res-offer-info-wrapper {
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
}

.res-offer-header-wrapper {
    display: flex;
    align-items: center;
}

.res-offer-header {
    font-size: 1.07rem;
    font-weight: 600;
    white-space: nowrap;
    color: #686b78;
    font-family:
        ProximaNovaCondensedBold,
        arial,
        Helvetica Neue,
        sans-serif;
}

.res-offer-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.res-offer-code-wrapper,
.res-offer-description {
    font-size: 0.86rem;
    color: #93959f;
    margin-top: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
    font-weight: 700;
    font-family:
        ProximaNovaCondensedRegular,
        arial,
        Helvetica Neue,
        sans-serif;
}

.res-offer-description::before {
    content: "|";
    margin: 0 3px;
}

.veg-only-wrapper {
    margin: 24px 16px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.veg-only {
    display: flex;
    align-items: center;
    height: 14px;
    backface-visibility: hidden;
    -webkit-box-align: center;
}

.veg-only-label {
    font-size: 1rem;
    color: #3d4152;
    font-weight: 600;
}

.toggle-switch {
    background: #d4d5d9;
    width: 36px;
    height: 18px;
    position: relative;
    -webkit-transition: background-color 0.25s linear;
    -o-transition: background-color 0.25s linear;
    transition: background-color 0.25s linear;
    will-change: background-color;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    contain: layout;
    display: inline-block;
    border-radius: 4px;
    backface-visibility: hidden;
}

.toggle-thumb {
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 16px;
    backface-visibility: hidden;
    background: #fff;
    border: 2px solid #d4d5d9;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    will-change: transform, border-color;
    contain: strict;
    border-radius: 4px;
}

.toggle-thumb-content {
    opacity: 0;
    -webkit-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
    will-change: opacity;
}

.veg-only-circle {
    background: #0f8a65;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.user-card {
    min-height: 100px;
    width: auto;
    border: 1px solid #eeeeee;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
